# テキストファイルの改行コードを自動的に変換
* text=auto

# 特定のファイルタイプの設定
*.js text
*.ts text
*.tsx text
*.json text
*.md text
*.css text
*.html text

# バイナリファイルの設定
*.png binary
*.jpg binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary

# その他の設定
.gitattributes text
.gitignore text
